@page "/"
@page "/data"
@layout MainLayout
@inherits Blackmail.Pages.DataComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.Blackmailazure
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Data">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getDataResult" Count="@getDataCount" TItem="Blackmail.Models.Blackmailazure.Datum" LoadData="@Grid0LoadData" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Property="UserID" Title="User ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Property="Blackmailer" Title="Blackmailer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Property="Blackmailee" Title="Blackmailee">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Property="cost" Title="Cost">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Property="img" Title="Img">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Blackmail.Models.Blackmailazure.Datum" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="blackmailModelsBlackmailazureDatum">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, blackmailModelsBlackmailazureDatum))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
