@page "/edit-devicecode/{UserCode}"
@layout MainLayout
@inherits Blackmail.Pages.EditDevicecodeComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.AzureBlackmail
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Blackmail.Models.AzureBlackmail.Devicecode" Data="@devicecode" Visible="@(devicecode != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="User Code" Component="UserCode" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="display: block; width: 100%" @bind-Value="@(devicecode.UserCode)" Name="UserCode">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="UserCode" Text="UserCode is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Device Code" Component="DeviceCode1" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(devicecode.DeviceCode1)" Name="DeviceCode1">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Subject Id" Component="SubjectId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(devicecode.SubjectId)" Name="SubjectId">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Client Id" Component="ClientId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="display: block; width: 100%" @bind-Value="@(devicecode.ClientId)" Name="ClientId">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ClientId" Text="ClientId is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Creation Time" Component="CreationTime" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(devicecode.CreationTime)" Name="CreationTime">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="CreationTime" Text="CreationTime is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Expiration" Component="Expiration" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(devicecode.Expiration)" Name="Expiration">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="Expiration" Text="Expiration is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Data" Component="Data" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="4294967295" style="display: block; width: 100%" @bind-Value="@(devicecode.Data)" Name="Data">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Data" Text="Data is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
