@page "/edit-persistedgrant"
@layout MainLayout
@inherits Blackmail.Pages.EditPersistedgrantComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.AzureBlackmail
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="Blackmail.Models.AzureBlackmail.Persistedgrant" Data="@persistedgrant" Visible="@(persistedgrant != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Key" Component="Key" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="display: block; width: 100%" @bind-Value="@(persistedgrant.Key)" Name="Key">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Key" Text="Key is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Type" Component="Type" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(persistedgrant.Type)" Name="Type">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Type" Text="Type is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Subject Id" Component="SubjectId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="width: 100%" @bind-Value="@(persistedgrant.SubjectId)" Name="SubjectId">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Client Id" Component="ClientId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="200" style="display: block; width: 100%" @bind-Value="@(persistedgrant.ClientId)" Name="ClientId">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="ClientId" Text="ClientId is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Creation Time" Component="CreationTime" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="display: block; width: 100%" @bind-Value="@(persistedgrant.CreationTime)" Name="CreationTime">
                </RadzenDatePicker>
                <RadzenRequiredValidator Component="CreationTime" Text="CreationTime is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Expiration" Component="Expiration" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="MM/dd/yyyy" style="width: 100%" @bind-Value="@(persistedgrant.Expiration)" Name="Expiration">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Data" Component="Data" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="4294967295" style="display: block; width: 100%" @bind-Value="@(persistedgrant.Data)" Name="Data">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Data" Text="Data is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
