@inherits Blackmail.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using Blackmail.Models.Blackmailazure
@using Microsoft.AspNetCore.Identity;
@using Blackmail.Models
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenHeader>
  <ChildContent>
    <div class="row justify-content-start align-items-center">
      <div class="col-md-6 d-flex align-items-center">
        <RadzenSidebarToggle Click="@SidebarToggle0Click">
        </RadzenSidebarToggle>
        <RadzenLabel Text="Blackmail">
        </RadzenLabel>
      </div>
      <div class="col-md-6 text-lg-right">
        <RadzenProfileMenu Visible="@(Security.IsAuthenticated())" Click="@Profilemenu0Click">
          <ChildContent>
            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users" Visible="@Security.IsInRole(new string[]{"Authenticated", "admin"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles" Visible="@Security.IsInRole(new string[]{"Authenticated", "admin"})">
            </RadzenProfileMenuItem>
            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new">
            </RadzenProfileMenuItem>
          </ChildContent>
          <Template>
            <RadzenGravatar Email="@(Security.User?.Name)">
            </RadzenGravatar>
          </Template>
        </RadzenProfileMenu>
      </div>
    </div>
  </ChildContent>
</RadzenHeader>
<RadzenBody @ref="body0">
  <ChildContent>
    <RadzenContentContainer Name="main">
    @Body
    </RadzenContentContainer>
  </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0">
  <ChildContent>
    <RadzenPanelMenu style="height: 100%">
      <ChildContent>
        <RadzenPanelMenuItem Text="Data" Path="data" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Add Datum" Path="add-datum" Visible="@Security.IsInRole(new string[]{"Authenticated", "admin"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Login" Path="login" Visible="@Security.IsInRole(new string[]{"Everybody"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Register Application User" Path="register-application-user" Visible="@Security.IsInRole(new string[]{"Everybody"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Add Application Role" Path="add-application-role" Visible="@Security.IsInRole(new string[]{"Authenticated", "admin"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Add Application User" Path="add-application-user" Visible="@Security.IsInRole(new string[]{"Authenticated", "admin"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Home" Path="home" Visible="@Security.IsInRole(new string[]{"Everybody"})">
        </RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Login2" Path="login-2" Visible="@Security.IsInRole(new string[]{"Everybody"})">
        </RadzenPanelMenuItem>
      </ChildContent>
    </RadzenPanelMenu>
  </ChildContent>
</RadzenSidebar>
<RadzenFooter>
  <ChildContent>
    <RadzenLabel Text="Blackmail, Copyright Ⓒ 2020">
    </RadzenLabel>
  </ChildContent>
</RadzenFooter>
